<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="executor" class="tom.lightwaverf.Executor">
		<property name="itemsToSchedule">
			<list>
			 	<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="10:00"
					p:endTime="10:30"
					p:function-ref="off"
					p:device-ref="bedroomLights"/>
				
				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="17:30"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="1high"
					p:device-ref="livingRoomCeilingLights"/>
				
				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="22:00"
					p:endTime="23:58"
					p:function-ref="1low"
					p:device-ref="livingRoomCeilingLights"/>
				
				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="17:30"
					p:endTime="22:30"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="on"
					p:device-ref="livingRoomTVLights"/>
				
				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="17:30"
					p:endTime="22:45"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="on"
					p:device-ref="livingRoomUplighter"/>
				
			
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="06:40"
					p:endTime="07:30"
					p:ignoreIfSunAlreadyRisen="true"
					p:endAtSunriseIfSunriseBeforeEndTime="true"
					p:onlyWeekdays="true"
					p:function-ref="2med"
					p:device-ref="kitchenLights"/>
				
			
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="17:30"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="2med"
					p:device-ref="kitchenLights"/>
				
					
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="21:30"
					p:endTime="23:59"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="1low"
					p:device-ref="kitchenLights"/>
					
					
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="06:40"
					p:endTime="07:30"
					p:ignoreIfSunAlreadyRisen="true"
					p:endAtSunriseIfSunriseBeforeEndTime="true"
					p:onlyWeekdays="true"
					p:function-ref="2high"
					p:device-ref="downstairsHallLights"/>
				
				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="17:30"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="3low"
					p:device-ref="downstairsHallLights"/>
				
				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="22:00"
					p:endTime="23:59"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="1low"
					p:device-ref="downstairsHallLights"/>
						
					
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="06:40"
					p:endTime="07:30"
					p:ignoreIfSunAlreadyRisen="true"
					p:endAtSunriseIfSunriseBeforeEndTime="true"
					p:onlyWeekdays="true"
					p:function-ref="on"
					p:device-ref="outsideSecurityLight"/>
				
					
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="17:30"
					p:endTime="23:30"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="on"
					p:device-ref="outsideSecurityLight"/>
				
					
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="06:40"
					p:endTime="07:30"
					p:ignoreIfSunAlreadyRisen="true"
					p:endAtSunriseIfSunriseBeforeEndTime="true"
					p:onlyWeekdays="true"
					p:function-ref="1high"
					p:device-ref="upstairsHallLights"/>
				
				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="17:30"
					p:endTime="22:00"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="1med"
					p:device-ref="upstairsHallLights"/>
				

				
				<bean class="tom.lightwaverf.model.ScheduledItem"
					p:startTime="18:00"
					p:endTime="23:00"
					p:delayStartTimeToSunsetIfSunNotSet="true"
					p:function-ref="on"
					p:device-ref="outdoorsFairyLights"/>
				
	
			</list>
		</property>
		<property name="timesToTurnEverythingOff">
		<list>
			<value>13:00</value>
			<value>09:00</value>
			<value>23:50</value>
			<value>04:00</value>
		</list>
		</property>
		<property name="itemsToPerformAtRandomTimes">
		<list>
			<bean class="tom.lightwaverf.model.RandomItem"
				p:fromTime="01:00"
				p:endTime="02:00"
				p:device-ref="downstairsHallLights"
				p:function-ref="6high"/>
			
			<bean class="tom.lightwaverf.model.RandomItem"
				p:fromTime="02:00"
				p:endTime="04:00"
				p:device-ref="kitchenLights"
				p:function-ref="7high"/>
			
			<bean class="tom.lightwaverf.model.RandomItem"
				p:fromTime="02:00"
				p:endTime="03:00"
				p:device-ref="downstairsToiletLight"
				p:function-ref="10high"/>
			
		</list>
		</property>
		<property name="lightwaveUtils" ref="lightwaveUtils"/>
	</bean>
	
	
	
	<bean id="lightwaveUtils" class="tom.lightwaverf.timekeeping.LightwaveRfUtils"
		p:unit-ref="lightwaveunit"/>
	
	

	
	<bean id="lightwaveunit" class="tom.lightwaverf.lightwave.LightwaveRfUnit"
		p:hostname="192.168.1.98"
		p:millisecondsToWaitBetweenSendingCommands="500"
		p:numberOfTimesToSendCommand="2"
		p:port="9760"/>
	
	
	<import resource="device-beans.xml"/>
	<import resource="function-beans.xml"/>

</beans>
